---
import { Image } from 'astro:assets';
import LogoKoemau from 'public/Logo Koemau2.png';

const baseUrl = import.meta.env.BASE_URL;
---

<nav class="fixed top-0 w-full backdrop-blur-md z-50 shadow-sm bg-orange-400">
  <div class="max-w-7xl mx-auto px-4 h-16 flex items-center justify-between">
    <a href="/" class="text-2xl font-bold hover:opacity-80 transition flex items-center justify-center gap-2 text-charcoal">
      <Image 
  src={LogoKoemau} 
  alt="Logo Koemau" 
  width={48} 
  height={48} 
  loading="eager"  fetchpriority="high" />
      Koemau
    </a>
    
    <div class="hidden md:flex gap-8 font-medium">
  <a href={baseUrl} class="text-gray-700 hover:opacity-80 transition flex items-center gap-2 text-charcoal">
    <i class="fas fa-home text-lg"></i>
    Home
  </a>
  
  <a href={`${baseUrl}#menu`} class="text-gray-700 hover:opacity-80 transition text-charcoal">Menu</a>
  <a href={`${baseUrl}about`} class="text-gray-700 hover:opacity-80 transition text-charcoal">About</a>
  <a href={`${baseUrl}location`} class="text-gray-700 hover:opacity-80 transition text-charcoal">Location</a>
</div>

    <a 
  href="https://wa.me/6281298809641" 
  target="_blank"
  class="text-white px-5 py-2 rounded-full hover:opacity-80 hover:bg-orange-700 transition font-medium flex items-center gap-2 bg-orange-600"
>
  <!-- <i class="fab fa-whatsapp text-lg text-green-500"></i> -->
  Contact
</a>
  </div>
</nav>